* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.comment-section {
    list-style: none;
    max-width: 100%;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.comment {
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment {
    color:  #dadada;
}

.comment.author-comment {
    color:  #dadada;
    justify-content: flex-end;
}

/* User and time info */

.comment .info {
    width: 17%;
}

.comment.user-comment .info {
    text-align: right;
}

.comment.author-comment .info {
    order: 3;
}


.comment .info a {  /* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span { /* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar {
    width: 8%;
}

.comment.user-comment .avatar {
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar {
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img {
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img {
    float: right;
}

/* The comment text */

.comment p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p {
    background-color:  #0992aa;
}

.comment.author-comment p {
    background-color:  #970a40;
    order: 1;
}

/* Signifies author has responded to post */

.author-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new {
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea {
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img {
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button {
    float:right;
    background-color:  #729bbb;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}

/* Responsive styles */

@media (max-width: 800px) {
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info {
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar {
        order: 2;
    }

    .comment.user-comment p {
        order: 1;
    }


    /* Align toward the beginning of the container
    all the elements inside the author comments. */
    .comment.author-comment {
        justify-content: flex-start;
    }


    .comment-section {
        margin-top: 10px;
    }

    .comment .info {
        width: auto;
    }

    .comment .info a {
        padding-top: 15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar {
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after {
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new {
        width: 100%;
    }
}
