<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %} {% endblock %}</title>
	{# Load the tag library #}
	{% load bootstrap4 %}
	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'static_page/style.css' %}">
</head>
<body>
	{% include './static_page/header.html' %}

	{% block content %} {% endblock %}

	{% include './static_page/footer.html' %}
</body>
</html>
