<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Lomhe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact' %}">Contact <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <div class="my-2 my-lg-0">
      {% if user.is_authenticated %}
      <div class="navbar-nav">
        <i class="fas fa-sign-out-alt"></i><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      </div>
      {% else %}

        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'sign_in' %}">Sign in<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'sign_up' %}">Sign up<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

