{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if error_message %}
      {{ error_message }}
    {% endif %}
    <form action="" class="px-4 py-3">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
      </div>
      <input type="submit" class="btn btn-primary" value="Sign In" />
    </form>


    <a class="dropdown-item" href="{% url 'sign_up' %}">New around here? Sign up</a>
    <a class="dropdown-item" href="{% url 'forget_pwd' %}">Forgot password?</a>
  </div>
{% endblock %}
